Requirements





R Packages
library(paletteer)
library(ggthemes)
library(tidyverse)
library(tidygeocoder)
library(fuzzyjoin)
library(data.table)
library(lme4)
library(lfe)
library(plm)
library(clipr)
library(stringr)
library(stargazer)
library(rstatix)
library(openxlsx)
library(stringr)
library(sf)
library(tigris)
library(factoextra)
library(cluster)
library(factoextra)


